@page "/statistikk"
@inject HttpClient Http
@using Case_frontend.Models

<PageTitle>Statistikk</PageTitle>

<h1>Statistikk for firmaer</h1>

@if (data == null)
{
    <p>Laster statistikk...</p>
}
else
{
    <h4> Status - fordeling </h4>
    <ul>
        @foreach (var kvp in data.FirmaStatus)
        {
            <li> @kvp.Key: @kvp.Value </li>
        }
    </ul>

    <h4> Organisasjonsformer (prosent) </h4>
    <ul>
        @foreach (var kvp in data.OrganisasjonsformProsent)
        {
            <li> @kvp.Key: @kvp.Value %</li>
        }
    </ul>

    <h4> Fordeling av antall ansatte </h4>
    <ul>
        @foreach (var kvp in data.AnsattFordeling)
        {
            <li> @kvp.Key: @kvp.Value </li>
        }
    </ul>
}

@if (feilmelding != null)
{
    <p style="color: red;">Feil: @feilmelding</p>
}


@code {
    private FirmaStatistikk data;
    private string feilmelding;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            data = await Http.GetFromJsonAsync<FirmaStatistikk>("http://localhost:5288/api/Firma/statistikk");
        }
        catch (Exception ex)
        {
            feilmelding = $"Klarte ikke hente statistikk: {ex.Message}";
            Console.WriteLine(ex.ToString());
        }
    }
}
